<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Todo el funcionamiento Javascript -->
    <script src="jquery-3.4.1.js"></script>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/011353830e.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Productos Gourmet del Mar</title>
    <meta property="og:title" content="Productos Gourmet del Mar<" />
    <meta property="og:title" content="Productos Gourmet del Mar<" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="#" />
    <meta property="og:image" content="#" />
    <meta property="og:description" content="Abarrotes al mejor precio">
    <meta name="description" content="Abarrotes al mejor precio">
    <meta name="keywords" content="abarrotes, productos, víveres méxico">

</head>
<body>
  <!--header-->
    <header>
      <nav>
        <ul id="js-menu">
          <li><a href="#home"><i class="fas fa-seedling"></i> Inicio</a></li>
          <li><a href="#productos"><i class="fas fa-apple-alt"></i> Catálogo</a></li>
          <li><a href="#about"><i class="fas fa-users"></i> Sobre Nosotros</a></li>
          <li><a href="#contacto"><i class="fas fa-envelope"></i> Contacto</a></li>
        </ul>
      </nav>
    </header>
  <!--end header-->

  <main>
    <section id="home">
      <h6 style="  font-size: 9.9vw;">Productos Gourmet <br>del Mar</h6>
      <p style="  font-size: 3.80vw;">El mejor precio y calidad en alimentos</p>
    </section>

    <div class="divider">
    <img src="imgs/divider.png" />
    </div>
    <section id="productos">

      <h1>NUESTRO CATÁLOGO</h1>
      <ul id="lista">
        <li v-for="item in prods">
          <div class="caption">
          <img v-bind:src="item.img" />
          <div class="caption_text">
          <h1><i class="fas fa-leaf"></i> {{item.name}}</h1>
          </div>
          </div>
        </li>
      </ul>
    </section>

    <div class="divider">
    <img src="imgs/divider.png" />
    </div>
    <section id="about">
      <div>
      <h1>Sobre Nosotros</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      </div>
    </section>

    <section id="contacto">
      <div>
        <h1><a class="cita" href="mailto:test@gmail.com?Subject=Agendar%20Clase%20Muestra"><i class="fas fa-pencil-alt"></i> Solicita una cotización</a></h1>
      </div>
      <div>
      <h1>CONTACTO</h1>
      <ul>
        <li><i class="fas fa-map-marker-alt"></i> Avenida Gustavo Baz 367</li>
        <li><i class="fas hide fa-map-marker-alt"></i> Naucalpan de Juárez</li>
        <li><i class="fas hide fa-map-marker-alt"></i> Estado de México</li>
        <li><i class="fas hide fa-map-marker-alt"></i> CP: 53120</li>
        <li><i class="fas fa-phone-alt"></i> Tel: 55 80 30 98</li>
        <li><i class="fas fa-envelope"></i> contacto@pdgmar.com</li>
      </ul>
    </div>
    </section>

    <div class="divider">
    <img src="imgs/divider.png" />
    </div>


  </main>

  <footer>
    Productos Gourmet del Mar 2020
    <br>Sitio web desarrollado por <a href="http://www.dinamicode.com"><i class="fas fa-laptop-code"></i> DINAMICODE</a>
  </footer>

  <a href="#home" id="myBtn" title="Ir arriba"><i class="fas fa-arrow-up"></i></a>

    <script src="js/prods.js"></script>
</body>
</html>
