@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=BenchNine|Handlee|Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cookie|Leckerli+One|Sacramento|Satisfy&display=swap');


* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Satisfy', cursive;*/
  font-family: 'BenchNine', sans-serif;
/*  font-family: 'Handlee', cursive;*/
  color: #3e4444;
}

h1 {
  font-size: 2.43vw;
}

h2 {
  font-size: 1.82vw;
}

h3 {
  font-size: 1.37vw;
}

li {
  list-style-type: none;
}

a, a:visited {
  color: #405d27;
  transition: all 0.5s;
  text-decoration: none;
}

a:hover {
  color: #82b74b;
  text-decoration: none;
}
/*HEADER*/

header {
  background-image:  linear-gradient(
    rgba(256, 256, 256, 0.5),
    rgba(256, 256, 256, 0.5)
    );
  position: fixed;
  width: 100%;
  z-index: 10;
}

.miniwow{
  width: 90px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  color: #3e4444;
}

nav a {
  color: #3e4444;
  text-decoration: none;
  font-size: 1.90vw;
  transition: all 0.5s;
}

nav a:hover {
  color: #405d27;
}

nav img {
  vertical-align: bottom;
  width: 19.04vw;
  height:  6.39vw;

}

#logo {
  display: flex;
}

nav #redes {
  display: grid;
  margin-left: 15px;
  grid-template-columns: auto auto auto;
}

nav #redes img {
  width: 1.90vw;
  height: 1.90vw;
  margin: 5px;
}

nav ul li{
  padding: 10px 20px;
  font-size: 16px;
  line-height: 30px;
}

nav ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/* Links inside the dropdown */
.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #000000;
  color: #ffffff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.divider {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.divider img {
border: 0;
height: 7vw;
}

/*CONTENT*/
main {
  width: 100%;
  font-family: 'Montserrat';
  font-size: 1.2vw;
}

section > h1, section > h2, section > h3 {
  text-align: center;
  color: #3e4444;;
  margin-bottom: 10px;

}

main > h1 {
  letter-spacing: 3px;
}


#home {
  background-image:  linear-gradient(
    rgba(62, 68, 68, 0.4),
    rgba(62, 68, 68, 0.4)
    ), url("imgs/bghome.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    color: #fff;
    flex-direction: column;
    justify-content: center;
}

#home h6 {
  font-family: 'Satisfy', cursive;
  font-weight: normal;
}

#productos {
  width: 90%;
  margin: 0 auto;
}

#lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#lista li {
  margin: 30px;
}
.cita, .cita:visited {
  text-align: center;
  color: #405d27;
  margin-bottom: 10px;
  font-size: 3vw;
  text-decoration: none;
  transition: all 0.5s;
}

#captions_container{
  margin-top: 30px;
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.caption {
  width: 20vw;
  margin-bottom: 30px;
}

.caption h1{
  font-size: 1.5vw;
}

.caption img {
  width: 100%;
  height: 20.34vw;
  object-fit: cover;
}

.caption_text {
  background-color: #82b74b;
  padding: 15px;
}


#about {
  background-image:  linear-gradient(
    rgba(43, 64, 26, 0.7),
    rgba(43, 64, 26, 0.7)
    ), url("imgs/bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    text-align: center;
}

#about div {
  width: 80%;
  margin: 0 auto;
  font-size: 1.9vw;
}

#contacto {
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

footer {
  font-size: 2vw;
  text-align: center;
  margin-top: 50px;
  padding:10px;
}


.hide {
  visibility: hidden;
}

#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #3e4444; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #405d27; /* Add a dark-grey background on hover */
}

/*movil*/
@media screen and (max-width:800px) {

  h6 {
    font-size: 15vw !important;
  }

  #home p {
    font-size: 7vw !important;
  }

  #contacto, #about div {
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
  }

  #contacto {
    width: 90%;
    margin: 20px auto;
  }

  #contacto h1 {
    padding-bottom: 20px;
  }

  #contacto div {
    margin: 0 auto;
  }

  .cita, .cita:visited {
    font-size: 5vw;
  }

  footer {
    font-size: 5vw;
  }

  .divider img {
    height: 16vw;
  }

  h1 {
    font-size: 5vw;
    text-align: center;
  }

  h2 {
    font-size: 4vw;
  }

  h3 {
    font-size: 3vw;
  }
  .caption {
    width: 120px;
    margin-bottom: 30px;
  }
  nav a {
    font-size: 4.5vw;
  }
  nav ul li {
      padding: 10px 10px;
      text-align: center;
  }

  #lista li {
    margin: 10px;
  }

  .caption h1 {
    font-size: 3vw;
  }

  .caption_text {
    padding: 3px;
  }
  /*
body {
  background-position: center;
  background-size: 1000px;

}
  nav img {
    vertical-align: bottom;
    width: 19.04vw;
    height:  6.39vw;

  }

  nav #redes {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
    color: #000;
  }
  nav img {
    vertical-align: bottom;
    width: 40.04vw;
    height:  12.39vw;

  }

  .navbar-toggle {
    margin-right: 20px;
    cursor: pointer;
    color: #000;
    font-size: 24px;

}

.active {
  display: block;
}

            nav ul {
              list-style-type: none;
              display: none;
              width: 100%;
            }

            nav ul li {
                margin: 0;
                padding: 0;
                text-align: center;
            }

            nav a {
              font-size: 4vw;
            }

            .nav-links {
                margin-left: 40px;
            }

            .dropdown-content, .rayas {
              display: none !important;
            }

            main {
              padding-top: 20vw;
              font-size: 3vw;
            }

            main h1 {
              font-size: 5vw
            }

            main h2 {
              font-size: 4vw;
            }

            main h3 {
              font-size: 3vw;
            }


            .caption {
              width: 80%;
              margin-bottom: 30px;
            }

            .caption_text {
              font-size: 3vw;
            }

            .caption h1 {
              font-size: 4vw;
            }

            .buttons button {
              font-size: 3vw;

            }

            .profes {
              flex-direction: column;
            }

            .profes img {
              width: 100%;
            }

            footer {
              font-size: 5vw;
            }

            .cita {
              font-size: 6vw;
            }

            .profes {
              display: flex;
              margin-top: 20px;
              width: 100%;
              height: auto;
            }

            .curriculum {
              overflow-y:auto;


            }

            .profes img {
              width: 100%;
              height: 300px;
              object-fit: cover;
            }

            footer #redes {
              visibility: visible;
            }

*/
        }
